body {
  background: #eeebeb;
}

h1 {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 63px;
  padding-left: 25px;
}

ul {
  list-style: none;
}

a {
  color: #272e3d;
  text-decoration: none;
}

.current-date {
  line-height: 1.5;
  margin: 20px 25px;
}

.container {
  background-color: rgba(241, 212, 125, 0.4);
  font-family: "Major Mono Display", monospace;
  font-size: 10px;
  line-height: 1;
  margin: 60px auto;
  max-width: 650px;
  opacity: 0.9;
}

.main-row {
  padding: 20px auto;
}

.current-forecast {
  max-width: 230px;
  padding-right: 200px;
  padding-left: 20px;
  text-align: center;
}

.temperature {
  font-size: 22px;
  font-weight: 500;
  padding-left: 35px;
}
.unites {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  right: -75px;
  top: -20px;
}

.weather-details {
  font-size: 10px;
  line-height: 1.5;
  margin-top: 90px;
  padding: 20px;
}

.forecast {
  font-size: 10px;
  margin-top: 5px;
}

.fa-sun.main-icon {
  color: #f48b29;
  font-size: 90px;
  margin-bottom: 25px;
}

.fa-sun {
  display: block;
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
  padding: 13px;
}

.forecast .col-2 {
  margin: 10px;
  padding: 15px;
  text-align: center;
}

.form-control {
  border: 1px solid #272e3d;
  font-size: 10px;
  padding-right: 0;
}

.findCurrent-button {
  margin-left: 5px;
  margin-right: 0;
}
.btn-primary {
  background: #272e3d;
  border: none;
  font-size: 11px;
  font-weight: 800;
}
.btn-primary:hover {
  background: #545b69;
}
.btn-primary:focus {
  background: #545b69;
}

.open-source {
  font-family: monospace;
  margin: 0;
  padding: 5px 0;
}
.my-name {
  color: #f48b29;
}
